@model scoremaster_Presentation.ViewModel.RubricDesignVm
@{
    int i = 0;
   
    //var p = 0;
}
<style>
    td {
        position: relative;
        height: 120px;
    }

    .bottom-cell {
        position: absolute;
        bottom: 0;
        width: 100%;
        border-top: 1px solid #ccc;
        border-top-right-radius:10px;
        box-sizing: border-box;
        padding: 5px;
        text-align: center;
    }

    media only screen and (max-width: 600px) {
        .bottom-cell {
            position: static;
            border-top: none;
            padding-top: 5px;
             text-align: center;
        }
    }
</style>
@if (Model !=null)
{
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table" style="border: 1px solid black;">
                        <thead>
                            <tr style="background-color:lightgray;">
                                <th>Project Title</th>
                                <th>CMSID</th>
                                <th>Group Member Names</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Members)
                            {
                                <tr>
                                    @if (item == Model.Members.First()) // Display title only in the first row
                                    {
                                        <td rowspan="@Model.Members.Count" ><label style="margin-top:30px;">@Model.Group.Title</label> </td>
                                    }
                                    <td>@item.MemberCMSID</td>
                                    <td>@item.MemberName</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

}

<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
               
                    
                <table class="table table-bordered border-2" style="border: 1px solid black;">
                    <thead>
                        <tr style="background-color: lightgray;">
                            <th rowspan="2">Program </br> Learning </br> Outcome (PLO)</th>
                            <th rowspan="2">Evaluation </br> Criteria</th>
                            <th>Poor</th>
                            <th>Below </br>Average</th>
                            <th>Above </br> Average</th>
                            <th>Excellent</th>
                            <th>Marks Obtained</th>
                        </tr>
                        <tr style="background-color: lightgray;">
                            <th>25%</th>
                            <th>50%</th>
                            <th>75%</th>
                            <th>100%</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        @foreach (var item in ViewBag.rubriclevel)
                            {
                            var p = 0;
                            int k = 0;
                            decimal cridation = item.PloMarks;
                            decimal poorle = cridation / 4;
                            decimal BelowAverage = cridation / 2;
                            decimal AboveAverage = BelowAverage + poorle;
                            decimal Excellent = cridation;

                            <tr>
                                <td rowspan="2">@item.PlO</td>
                               
                            </tr>
                            <tr>
                                <td>@item.PloDescription <b> <br />[@item.PloMarks Marks]<br>@item.PLOType</b></td>

                                <td style="position: relative;">
                                    @item.poor
                                    <br><br>
                                    <div class="bottom-cell" style="margin-top:40px;">@poorle</div>
                                </td>
                                <td style="position: relative;">
                                    @item.BelowAverage
                                    <br><br>
                                    <div class="bottom-cell" style="margin-top:40px;">@BelowAverage</div>
                                </td>
                                <td style="position: relative;">
                                    @item.AboveAverage<br><br>
                                    <div class="bottom-cell">@AboveAverage</div>
                                </td>
                                <td style="position: relative;">
                                    @item.Excellent<br><br>

                                    <div class="bottom-cell">@Excellent</div>
                                </td>
                           
                                <td>
                                   <form asp-action="MemberMarking" method="post">
                                        @foreach (var student in Model.Members)
                                        {
                                            <input id="PloMarks" class="plo-marks" value="@item.PloMarks" type="hidden">
                                            
                                            <input hidden value="@ViewBag.id" name="Groupid" />
                                            <input style="width:60px;" asp-fo asp-for="Marks[p].EventId" value="@ViewBag.eventid" hidden />
                                            <input style="width:60px;" asp-for="Marks[p].EvaluationLevelId" value="@item.EvaluationLevelId" id="ev" hidden />
                                            <input style="width:60px;" asp-for="Marks[p].UsersRegistrationId" value="@ViewBag.UserId" hidden />
                                            <input style="width:60px;" asp-for="Marks[p].MemberDataId" value="@student.MemberDataId" hidden />
                                            var mark = "";
                                            foreach (var mark1 in ViewBag.markslist)
                                            {
                                                if (mark1.EvaluationLevelId == item.EvaluationLevelId && student.MemberDataId == mark1.MemberDataId && ViewBag.eventid == mark1.EventId && ViewBag.UserId == mark1.UsersRegistrationId)
                                                {
                                                    mark = mark1.TotalMarks;
                                                    
                                                }
                                                
                                            }
                                            if (mark != null)
                                            {
                                                <p style="margin-top:20px;">@student.MemberName <br><br> <input style="width:60px;" asp-for="Marks[p].TotalMarks" class="marks-input" value="@mark" /></p>
                                                <div class="error-message text-danger"></div>
                                            }
                                            else
                                            {
                                                <div class="error-message text-danger"></div>
                                                <p style="margin-top:20px;">@student.MemberName <br><br /><br /><br> <input style="width:60px;" asp-for="Marks[p].TotalMarks" id="marks" value="0" /></p>
                                            }

                                               

                                                   
                                                   
                                                  



                                            p++;
                                            
                                        }
                                        @{
                                            
                                        }
                                        <button class=" btn btn-success" id="save">Save</button>
                                    </form>
                                </td>
                            </tr>
                           
                        }
                    
                    </tbody>
                </table>
               
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        // Add a click event listener to the Save button
        $("#save").click(function (e) {
            // Prevent the default form submission
            e.preventDefault();

            // Clear previous error messages
            $(".error-message").text("");

            // Loop through each row in the table
            var isValid = true;

            $(".marks-input").each(function () {
                var marks = parseFloat($(this).val());
                var PloMarks = parseFloat($(this).closest("tr").find(".plo-marks").val());

                // Check if the entered marks are within the valid range
                if (marks < 0 || marks > PloMarks) {
                    // Display an error message
                    $(this).addClass("is-invalid");
                    $(this).closest("td").find(".error-message").text("Invalid marks. Please enter valid marks between 0 and " + PloMarks + ".");
                    isValid = false;
                } else {
                    $(this).removeClass("is-invalid");
                }
            });

            // If all validations pass, submit the form
            if (isValid) {
                $(this).closest("form").submit();
            }
        });
    });
</script>